@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

/* chrome */
/* html::-webkit-scrollbar {
  display: none;
} */

/* firefox */
/* html {
  scrollbar-width: none;
} */

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */
@layer components {
  .wrap {
    @apply h-[50vh] mt-[17.5vh] grid grid-flow-col auto-cols-[23.5vw] gap-[2vw];
  }
}
