@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation {
  flex: 5;
  transition: all 0.7s ease-in-out;
}

/* chrome */
/* html::-webkit-scrollbar {
  display: none;
} */

/* firefox */
/* html {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
} */

@layer components {
  .wrap {
    @apply grid grid-flow-col gap-[2vw] w-min mt-[18vh] h-[50vh] auto-cols-[70vw] md:auto-cols-[30vw] xl:auto-cols-[18vw];
  }
}
