@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap {
  height: 65vh;
  margin-top: 17.5vh;
  display: grid;
  grid-auto-columns: 23.5vw;
  grid-auto-flow: column;
  width: min-content;
  gap: 2vw;
}
